html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
}

button {
  border: 0;
  padding: 8px 32px;
  border-radius: 6px;
  background-color: #3882f6;
  font-size: 16px;
  color: #f9faf8;
  cursor: pointer;
}

.btn-dark {
  border: 2px solid #1f2937;
}

.btn-light {
  border: 2px solid #f9faf8;
}

.header, .footer {
  background-color: #1f2937;
}

.top-header, .hero, .info, .quote-wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.top-header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav a {
  font-size: 18px;
  color: #f9faf8;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  max-width: 420px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 8px 0;
  color: #f9faf8
}

.hero-info {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 0 20px 0;
}

.hero-right {
  display: flex;
  align-items: flex-end;
}

.info {
  text-align: center;
  padding: 48px 0;
}

.shoes-list {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.shoe {
  flex: 1;
  max-width: 200px;
}

.shoe img {
  border-radius: 12px;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 96px 0;
}

.main-quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 12px 0;
}

.quote-author {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 60px;
}

.newsletter {
  display: flex;
  justify-content: center;
  color: #f9faf8;
  padding: 96px 0;
}

.newsletter-banner {
  max-width: 960px;
  flex: 1;
  background-color: #3882f6;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 48px 0;
}

.newsletter-title {
  font-size: 18px;
  font-weight: bold;
}

.newsletter-info {
  margin: 0;
}

.footer {
  padding: 24px 0;
  color: #f9faf8;
  text-align: center;
}