html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
}

